.touches{
    margin-left: 40%;
    margin-right: 40%;
}

.ecran{
    background-color: black;
    color: white;
    width: 16%;
    text-align: center;
    padding: 2% 2%;
    margin-bottom: 2%;
    margin-left: 39.5%;
    margin-top: 5%;
}



.btn{
    width: 23%;
    padding: 2% 2%;
}